/*  Дополнительные товары  */

.additional-catalog__title {
  margin-top: 29px;
  margin-bottom: 33px;
}

.additional-catalog__item {
  padding-bottom: 16px;

  border-top: 1px solid $border-color-fourth;
}

.additional-catalog__item:last-child {
  border-bottom: 1px solid $border-color-fourth;
}

.additional-catalog__promo {
  margin: 38px 0 35px;
}
