/*  Дополнительные товары  */

.additional-catalog__container {
  @include container(320px, 20px, 29px, 35px);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 65px, 75px);
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 73px, 86px);
  }
}

.additional-catalog__title {
  @include sub-title();

  @include tablet-width() {
    margin-left: 0;
  }

  @include desktop-width() {
    margin-left: -$desktop-padding;
  }
}

.additional-catalog__wrapper {
  margin-top: 33px;

  @include tablet-width() {
    margin-top: 76px;
  }

  @include desktop-width() {
    display: flex;
    justify-content: space-between;
  }
}

.additional-catalog__list {
  @include list-style-none();

  margin: 0;

  @include tablet-width() {

    border: 1px solid $border-color-var;
    border-top: none;
    border-bottom: none;
  }

  @include desktop-width() {
    width: 73.36%;

    border: none;
  }
}

.additional-catalog__item {
  padding-bottom: 16px;

  border-top: 1px solid $border-color-fourth;

  &:last-child {
    border-bottom: 1px solid $border-color-fourth;
  }

  @include tablet-width() {
    border-color: $border-color-var;
  }
}

.additional-catalog__promo {
  margin-top: 39px;

  @include tablet-width() {
    margin-top: 70px;
  }

  @include desktop-width() {
    width: 20.08%;
    margin: 0;
  }
}
