/*  catalog-promo  */

.catalog-promo {
  padding: 187px 55px 42px;

  background-color: $bg-color-promo;
  background-image:
    url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@1x.jpg");
  background-repeat:
    no-repeat,
    no-repeat;
  background-size:
    55px 59px,
    280px 289px;
  background-position:
    center 66px,
    center center;

  @include retina-2x() {
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-mobile@2x.jpg");
  }

  @include tablet-width() {
    padding: 72px 120px 68px 59.75%;

    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@1x.jpg");
    background-size:
      55px 60px,
      708px 200px;
    background-position:
      14% 65px,
      center center;

    @include retina-2x() {
      background-image:
        url("../img/icon-gift.svg"),
        url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @include desktop-width() {
    padding: 187px 40px 40px;

    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-desktop@1x.jpg");
    background-size:
      55px 60px,
      245px 289px;
    background-position:
      center 65px,
      center center;

    @include retina-2x() {
      background-image:
        url("../img/icon-gift.svg"),
        url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.catalog-promo__description {
  margin: 0;

  @include font-options($font-text, 16px, 20px, $text-second-color);
  text-align: center;

  @include tablet-width() {
    text-align: left;
  }

  @include desktop-width() {
    text-align: center;
  }
}
