/*  Категории  */

//  Иконки
@mixin categories-icon ($icon-size: 50px) {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  content: "";

  width: $icon-size;
  height: $icon-size;

  background-color: $bg-color-third;
  border-radius: 50%;
}

@mixin categories-icon-img ($icon-width, $icon-height, $icon-url, $icon-top, $icon-left, $icon-right) {
  position: absolute;
  content: "";
  z-index: 10;
  top: $icon-top;
  left: $icon-left;
  right: $icon-right;

  width: $icon-width;
  height: $icon-height;

  background-image: url($icon-url);
  background-repeat: no-repeat;
  background-size: $icon-width $icon-height;
}

.categories {
  background-color: $bg-color-base;

  @include tablet-width() {
    position: relative;
  }
}

.categories__container {
  @include container(320px, 20px, 0, 0);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 0, 0);
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 79px, 0);
  }
}

.categories__list {
  @include list-style-none();

  @include desktop-width() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.categories__item {
  min-height: 100px;
  margin-bottom: 19px;

  background-color: $bg-color-second;

  @include tablet-width() {
    position: relative;
    display: flex;

    min-height: 370px;
    margin-bottom: 31px;

    &::after {
      @include categories-icon(200px);

      transform: translate(-63px, 92px);
    }

    &--slim::before {
      @include categories-icon-img(140px, 194px, "../img/icon-cat-slim.svg", 80px, "", 92px);
    }

    &--pro::before {
      @include categories-icon-img(268px, 112px, "../img/icon-cat-pro.svg", 135px, "", 28px);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop-width() {
    width: 46.72%; //570px;

    &::after,
    &::before {
      display: none;
    }

    &:last-child {
      margin-bottom: 31px;
    }
  }
}

.categories__item-container {
  padding: 25px 20px 22px;
  margin: auto;
  width: 100%;

  @include tablet-width() {
    padding: 78px 80px 60px 52px;

    &--pro {
      padding-right: 113px;
    }
  }

  @include desktop-width() {
    display: flex;
    flex-direction: column;


    padding: 45px 52px 60px;
    margin: 0;
  }
}

.categories__title {
  position: relative;
  display: flex;
  align-items: center;

  margin: 0;

  @include font-options(inherit, 24px, 37px, $header-color);
  font-weight: normal;
  text-transform: uppercase;

  &::before {
    @include categories-icon(50px);

    left: 0;
    top: 0;

    margin-right: 20px;
    margin-bottom: auto;
  }

  &--slim::after {
    @include categories-icon-img(35px, 49px, "../img/icon-cat-slim.svg", -3px, 9px, "");
  }

  &--pro::after {
    @include categories-icon-img(67px, 28px, "../img/icon-cat-pro.svg", 11px, -8px, "");
  }

  @include tablet-width() {
    font-size: 36px;
    line-height: 37.02px;

    &::before,
    &::after {
      display: none;
    }
  }

  @include desktop-width() {
    &::before {
      display: block;

      width: 100px;
      height: 100px;
      margin-right: 62px;
    }

    &--slim::after {
      @include categories-icon-img(70px, 97px, "../img/icon-cat-slim.svg", -6px, 14px, "");
      display: block;
    }

    &--pro::after {
      @include categories-icon-img(134px, 56px, "../img/icon-cat-pro.svg", 22px, -18px, "");
      display: block;
    }
  }
}

.categories__description {
  font-family: $font-text;
  margin: 23px 0 0;
  padding-bottom: 23px;

  border-bottom: 1px solid $border-color-var-second;

  @include tablet-width() {
    border-bottom: none;
  }

  @include desktop-width() {
    margin-top: 40px;
    margin-bottom: auto;
    padding-bottom: 0;
  }
}

.categories__link {
  display: block;
  position: relative;

  padding: 0;
  margin-top: 19px;

  @include font-options($font-base, 16px, 16px, $header-color);
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    top: 50%;

    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: 24px 11px;

    transform: translate(12px, -50%);
  }

  &:hover::after,
  &:focus::after {
    width: 32px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-size: 32px 11px;
  }

  &:focus {
    @include focus($bg-color-third, $bg-color-second);
  }

  &:active {
    opacity: 0.3;
    box-shadow: none;
  }

  @include tablet-width() {
    margin-top: 34px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      transform: translate(25px, -50%);
    }
  }

  @include desktop-width() {
    margin-top: 32px;
  }
}
