/*  Категории  */

//  Иконки
@mixin categories-icon ($icon-size: 50px) {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  content: "";

  width: $icon-size;
  height: $icon-size;

  background-color: $bg-color-third;
  border-radius: 50%;
}

.categories {
  @include tablet-width() {
    position: relative;
  }

  @include desktop-width() {
    margin-top: 79px;
  }
}

.categories__container {
  @include container(320px, 20px);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding);
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding);
  }
}

.categories__list {
  @include list-style-none();

  @include desktop-width() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.categories__item {
  min-height: 100px;
  margin-bottom: 19px;

  background-color: $bg-color-second;

  @include tablet-width() {
    display: flex;

    min-height: 370px;
    margin-bottom: 31px;

    &::after {
      @include categories-icon(200px);

      transform: translate(-63px, 92px);
    }
  }

  @include desktop-width() {
    width: 46.72%; //570px;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.categories__item-container {
  padding: 25px 20px 22px;
  margin: auto;

  @include tablet-width() {
    padding: 78px 80px 60px 52px;

    &--pro {
      padding-right: 113px;
    }
  }

  @include desktop-width() {
    display: flex;
    flex-direction: column;


    padding: 45px 52px 60px;
    margin: 0;
  }
}

.categories__title {
  display: flex;
  align-items: center;

  margin: 0;

  @include font-options(inherit, 24px, 37px, $header-color);
  font-weight: normal;
  text-transform: uppercase;

  &::before {
    @include categories-icon(50px);

    left: 0;
    top: 0;
    margin-right: 20px;
  }

  @include tablet-width() {
    font-size: 36px;
    line-height: 37.02px;

    &::before {
      display: none;
    }
  }

  @include desktop-width() {
    &::before {
      display: block;

      width: 100px;
      height: 100px;
      margin-right: 62px;
    }
  }
}

.categories__description {
  font-family: $font-text;
  margin: 23px 0 0;
  padding-bottom: 23px;

  border-bottom: 1px solid $border-color-var-second;

  @include tablet-width() {
    border-bottom: none;
  }

  @include desktop-width() {
    margin-top: 40px;
    margin-bottom: auto;
    padding-bottom: 0;
  }
}

.categories__link {
  display: block;
  position: relative;

  padding: 0;
  margin-top: 19px;

  @include font-options($font-base, 16px, 16px, $header-color);
  text-transform: uppercase;

  outline: none;

  &::after {
    position: absolute;
    content: "";
    top: 50%;

    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: 24px 11px;

    transform: translate(12px, -50%);
  }

  &:hover::after,
  &:focus::after {
    width: 33px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-size: 33px 11px;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet-width() {
    margin-top: 34px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      transform: translate(25px, -50%);
    }
  }

  @include desktop-width() {
    margin-top: 32px;
  }
}
