/*  Категории  */

.categories__item {
  margin-top: 20px;

  background-color: $bg-color-second;
}

.categories__item-container {
  padding: 24px 20px 22px;
  margin: auto;
}

.categories__title {
  /*position: relative;*/
  display: flex;
  align-items: center;

  margin: 0;
  /*padding-left: 70px;*/

  @include font-options(inherit, 24px, 37px, $header-color);
  font-weight: normal;
  text-transform: uppercase;

  &::before {
    flex-shrink: 0;
    position: /*absolute;*/relative;
    content: "";
    left: 0;
    top: 0;

    width: 50px;
    height: 50px;
    margin-right: 20px;

    background-color: $bg-color-third;
    border-radius: 50%;
  }

  /*&--slim::before {
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-size: 35px 49px;
    background-position: center center;
  }*/
}

.categories__description {
  font-family: $font-text;
  margin: 23px 0;
}

.categories__link {
  display: block;

  padding: 19px 0 0;

  @include font-options($font-base, 16px, 16px, $header-color);
  text-transform: uppercase;

  border-top: 1px solid $border-color-var-second;
}
