/*  contacts-info  */

.contacts-info {

  background-color: $bg-color-base;

  &--gray {
    background-color: $bg-color-second;
  }
}

.contacts-info__container {
  @include container(320px, 20px);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 29px;
  padding-bottom: 24px;

  @include tablet-width() {
    @include container($tablet-width, 71px);
    padding-top: 63px;
    padding-bottom: 58px;
  }

  @include desktop-width() {
    min-width: 57px;
    width: 570px;
    padding: 63px 74px 58px 76px;
    margin: 0;
  }
}

.contacts-info__intro {
  display: block;

  width: 140px;
  padding: 0 15px 0 0;

  @include font-options(inherit, 16px, 20px, $header-color);
  font-weight: 400;
  text-transform: uppercase;

  @include tablet-width() {
    margin: auto 0;

    font-size: 20px;
    line-height: 25px;
  }
}

.contacts-info__content {
  display: block;

  width: 140px;
  padding: 0;
  margin: 0;

  @include font-options($font-text, 14px, 20px, inherit);

  @include tablet-width() {
    width: 170px;

    font-size: 16px;
    text-align: right;
  }

  @include desktop-width() {
    text-align: left;
  }
}

.contacts-info__spb {
  @include tablet-width() {
    display: inline-block;
    vertical-align: baseline;

    margin-top: 20px;
  }
}
