/*  copyright  */

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  outline: none;

  &:hover .copyright__name,
  &:focus .copyright__name {
    color: $text-base-color;
  }

  &:focus .copyright__name {
    @include focus($bg-color-third, $bg-color-second);
  }

  &:hover .copyright__image,
  &:focus .copyright__image {
    fill: $social-color-hover;
  }

  &:active .copyright__name {
    opacity: 0.3;
    box-shadow: none;
  }

  &:active .copyright__image {
    fill: $social-color-active;
  }
}

.copyright__name {
  display: block;

  margin-top: 8px;

  @include font-options($font-text, 16px, 16px, $text-base-color);
}

.copyright__image {
  width: 27px;
  height: 34px;

  fill: $social-color-base;
  pointer-events: none;
}
