/*  footer-logo  */

.footer-logo {
  display: flex;

  &:hover .footer-logo__image,
  &:focus .footer-logo__image {
    opacity: 0.8;
  }

  &:active .footer-logo__image {
    opacity: 0.6;
  }
}

.footer-logo__image {
  width: 128px;
  height: 24px;
  margin: auto;
}
