/*  Живой пример  */

.living-example {
  background-color: $bg-color-second;

  @include tablet-width() {
    background-color: $bg-color-base;
  }

  @include desktop-width() {
    display: flex;
    justify-content: center;

    background-image:
      /* linear-gradient(to bottom, $bg-color-base 26.8%, rgba($bg-color-base, 0) 26.8%),
      linear-gradient(to right, $bg-color-second 50%, $bg-slider-after 50%); */
      linear-gradient(to bottom, $bg-color-base 190px, rgba($bg-color-base, 0) 190px),
      linear-gradient(to right, $bg-color-second 50%, red 50%);
  }
}

.living-example__info-container {
  @include container(320px, 20px);
  padding-top: 16px;
  padding-bottom: 35px;

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding);
    padding-top: 44px;
  }

  @include desktop-width() {
    flex-shrink: 0;
    z-index: 100;
    position: relative;


    min-width: 570px;
    width: 610px;
    margin: 0;
    padding: 55px 135px 72px 40px;
  }

  outline: 1px solid red;
}

.living-example__info-wrapper {
  @include tablet-width() {
    display: flex;
    flex-wrap: wrap;
  }
}

.living-example__title {
  margin: 0;

  @include font-options(inherit, 36px, 60px, $header-color);
  font-weight: 400;

  @include tablet-width() {
    font-size: 60px;
  }
}

.living-example__text {
  margin: 25px 0;

  @include font-options($font-text, 14px, 18px, inherit);

  @include tablet-width() {
    margin-top: 64px;
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  @include desktop-width() {
    margin-top: 145px;
    margin-bottom: 69px;
  }
}

.living-example__widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet-width() {
    width: 51.83%;
  }

  @include desktop-width() {
    width: 366px;
  }
}

.living-example__attention {
  display: block;

  margin: 9px 0 0;
  padding: 0 20px;

  @include font-options(inherit, 14px, 20px, $header-color);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  @include tablet-width() {
    width: 192px;
    margin: auto;
    margin-top: 12px;
    margin-right: 0;
    padding: 0;

    font-size: 20px;
    text-align: right;
  }

  @include desktop-width() {
    width: auto;
    margin: 49px 0 0 0;
  }
}

.living-example__food-expenses {
  @include tablet-width() {
    display: inline-block;
    vertical-align: baseline;

    margin-top: 9px;
  }

  @include desktop-width() {
    margin: 0;
    margin-left: 59px;
  }
}

.living-example__cat-slider {
  @include tablet-width() {
    margin-top: 75px;
  }

  @include desktop-width() {
    position: relative;
    z-index: 10;
    margin: 0;
    margin-left: 0;
    padding: 0;
  }

  outline: 1px solid green;
}
