/*  logo  */

.logo__image {
  width: 191px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 173px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo[href]:focus .logo__image {
  @include focus();
}

.logo[href]:active .logo__image {
  box-shadow: none;
}
