/*  logo  */

/* .logo {
  &:hover .logo__image,
  &:focus .logo__image {
    opacity: 0.8;
  }

  &:active .logo__image {
    opacity: 0.6;
  }
} */

.logo__image {
  width: 191px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 173px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
