/*  main-catalog  */

.main-catalog {
  margin-top: 29px;
}

.main-catalog__container {
  @include container(320px, 20px);

  border: 1px solid $border-color-third;

  @include tablet-width() {
    @include container($tablet-width, 0); //$tablet-padding);

    border: none;
  }
}

.main-catalog__list {
  @include list-style-none();

  @include tablet-width() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 81px;
  }
}

.main-catalog__item {
  padding-bottom: 25px;

  @include decorative-border(100vw, 25px, 1px, $border-color-third, "bottom");

  &:last-child {
    &::after {
      border-bottom: none;
    }
  }

  @include tablet-width() {
    width: 324px;
    padding: 0;
    margin: 0 $tablet-padding 57px;

    &::after {
      height: 0;
      width: 0;

      border: none;
    }
  }
}
