/*  main-nav  */

.main-nav__item {
  border-bottom: 1px solid $border-color-var;
}

.main-nav__item--active .main-nav__link-text {
  border-bottom: 2px solid $bg-color-third;
}

.main-nav__link {
  display: block;

  padding: 22px 30px 23px;

  @include font-options($font-family-medium, 20px, 20px, $header-color);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
