/*  main-nav  */

.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 58px;
    max-width: 70%;
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;
    max-width: 46%;
  }
}

.main-nav__list {
  @include list-style-none();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    min-height: 100%;
  }
}

.main-nav__item {
  position: relative;

  @include decorative-border();

  @include tablet-width() {
    margin: auto 0 auto 35px;

    &::after {
      display: none;
    }
  }
}

.main-nav__item--active .main-nav__link-text {
  border-bottom: 2px solid $bg-color-third;

  @include desktop-width() {
    &--index {
      border-color: $bg-color-base;
    }
  }
}

.main-nav__link {
  display: block;

  padding: 16px 30px 16px;

  @include font-options($font-base, 20px, 35px, $header-color);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  cursor: default;
  outline: none;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
    cursor: pointer;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 0;

    font-size: 18px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;

    &--index {
      color: $text-second-color;
    }
  }

  @include after-for-ie();
}

.main-nav__link[href]:focus .main-nav__link-text {
  @include focus();
}

.main-nav__link--index[href]:focus .main-nav__link-text {
  @include desktop-width() {
    @include focus($bg-color-base, $bg-color-promo);
  }
}

.main-nav__link[href]:active .main-nav__link-text {
  box-shadow: none;
}

.main-nav__link-text {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 3px;

  border-bottom: 2px solid rgba($bg-color-third, 0);
}

.main-nav__toggle {
  position: absolute;
  top: -53px;
  right: -8px;
  z-index: 2;

  display: block;
  width: 40px;
  height: 40px;

  background-color: $bg-color-base;

  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus {
    @include focus();
  }

  &:active {
    opacity: 0.3;
    box-shadow: none;
  }

  @include tablet-width() {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 8px;

  width: 24px;
  height: 2px;

  background-color: $header-small-color;
  box-shadow:
    0 8px 0 0 $header-small-color,
    0 16px 0 0 $header-small-color;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 19px;
    left: 9px;

    width: 24px;
    height: 2px;

    background-color: $header-small-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__list {
  min-height: 66px;
}

.main-nav--closed .main-nav__list {
  @include mobile-width-only() {
    display: none;

    min-height: 0;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
