/*  Карта  */

$map-height: 362px;

.map {
  position: relative;

  height: $map-height;

  background-color: #e5e5e5;
  overflow: hidden;

  @include tablet-width() {
    $map-height: 400px;
    height: $map-height;
  }
}

.map-wrapper {
  position: relative;

  max-height: $map-height;
}

.map__image-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    width: 62px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;

    transform: translate(-50%, -100%);

    @include tablet-width() {
      width: 124px;
      height: 106px;

      transform: translate(-50%, -50%);
    }

    @include desktop-width() {
      transform: translate(278px, -50%);
    }
  }
}

.map__image {
  $map-image-height: 400px;

  $translateY-var: (($map-image-height - $map-height) / 2);

  display: block;

  width: 320px;
  height: $map-image-height;
  margin: 0 auto;

  transform: translateY(-$translateY-var);

  @include tablet-width() {
    $map-height: 400px;
    $translateY-var: (($map-image-height - $map-height) / 2);

    width: $tablet-width;

    transform: translateY(-$translateY-var);
  }

  @include desktop-width() {
    width: 1440px;
  }
}

.map__interactive {
  $interactive-height: 645px;
  $translateY-var: (($interactive-height - $map-height) / 2);

  width: 100vw;

  position: relative;
  left: 50%;
  top: -402px;

  height: $interactive-height;

  transform: translate(-50%, -$translateY-var);

  @include tablet-width() {
    $map-height: 400px;
    $translateY-var: (($interactive-height - $map-height) / 2);

    transform: translate(-50%, -$translateY-var);
  }

  @include desktop-width() {
    width: 160vw;
    margin-left: 340px;
  }
}
