/*  more-product  */

.more-product {
  position: relative;

  padding: 78px 0 0;

  text-align: center;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 25px;

    width: 0;
    height: 30px;

    border-left: 2px solid #d3d3d3;

    transform: translateX(-50%);
  }

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 40px;

    width: 30px;
    height: 0;

    border-top: 2px solid #d3d3d3;

    transform: translateX(-50%);
  }

  @include tablet-width() {
    height: 100%;
    padding: 164px 37px 40px;

    border: 1px solid $border-color-var;

    &::before {
      top: 55px;

      height: 60px;
    }

    &::after {
      top: 83px;

      width: 60px;
    }
  }
}

.more-product__title {
  display: block;

  @include font-options(inherit, 16px, 20px, $header-color);
  font-weight: normal;
  text-transform: uppercase;

  @include tablet-width() {
    padding: 0 55px;
    margin: 0;

    font-size: 20px;
  }
}

.more-product__info {
  display: block;

  @include font-options($font-text, 12px, 16px, $text-base-color);

  margin: 8px 0 21px;

  @include tablet-width() {
    padding: 0 35px;
    margin: 25px 0 83px;

    font-size: 16px;
    line-height: 1.2em;
  }
}
