/*  more-product  */

.more-product__container {
  @include container(320px, 20px);
}

.more-product {
  position: relative;

  text-align: center;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: -53px;

    width: 0;
    height: 30px;

    border-left: 2px solid #d3d3d3;

    transform: translateX(-50%);
  }

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    top: -39px;

    width: 30px;
    height: 0;

    border-top: 2px solid #d3d3d3;

    transform: translateX(-50%);
  }
}

.more-product__title {
  display: block;

  margin-top: 78px;

  @include font-options(inherit, 16px, 20px, $header-color);
  font-weight: normal;
  text-transform: uppercase;
}

.more-product__info {
  display: block;

  @include font-options($font-text, 12px, 16px, $text-base-color);

  margin: 8px 0 21px;
}
