/*  page-header  */

.page-header {
  @include tablet-width() {
    position: relative;
    z-index: 10;
  }

  @include desktop-width() {
    background-color: transparent;
  }
}

.page-header__container {
  @include container(320px, 20px, 0, 0);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 22px, 0);

    display: flex;
    justify-content: space-between;
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 53px, 0);
  }
}

.page-header__logo-wrapper {
  @include decorative-border();

  @include tablet-width() {
    flex-shrink: 0;

    &::after {
      display: none;
    }
  }
}

.page-header__logo {
  padding-top: 13px;
  padding-bottom: 11px;

  @include tablet-width() {
    padding: 0;
  }
}
