/*  page-header  */

.page-header__logo-wrapper {
  border-bottom: 1px solid $border-color-var;
}

.page-header__container {
  @include container(320px, 20px);
}

.page-header__logo {
  display: block;

  padding-top: 13px;
  padding-bottom: 11px;

  outline: none;

  //border-bottom: 1px solid $border-color-var;
}
