/*  Подвал  */

.page-footer {
  background-color: $bg-color-second;
}

.page-footer__container {
  @include container(320px, 20px, 41px, 22px);

  @include tablet-width() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include container($tablet-width, $tablet-padding, 51px, 55px);
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 51px, 55px);
  }
}

.page-footer__logo {
  width: 100%;
  margin-bottom: 31px;

  outline: none;

  @include tablet-width() {
    width: 162px;
    margin: auto 0;
  }
}

.page-footer__social {
  @include tablet-width() {
    max-width: 37%;
  }
}

.page-footer__copyright {
  width: 100%;
  margin-top: 23px;

  @include tablet-width() {
    width: 162px;
    margin: 3px 0 auto;
  }

  @include desktop-width() {
    margin-top: 8px;
  }
}
