/*  page-header  */

.page-header {
  @include tablet-width() {
    position: relative;
    z-index: 10;
  }

  /* @include desktop-width() {
    background-color: $bg-color-third;
    background-image:
      linear-gradient(to left, $bg-color-promo 50%, $bg-color-base 50%);
    background-position:
      center top;
  } */
}

.page-header__container {
  @include container(320px, 20px);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding);
    padding-top: 24px;

    display: flex;
    justify-content: space-between;
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding);
    padding-top: 55px;
  }
}

.page-header__logo-wrapper {
  @include decorative-border();

  @include tablet-width() {
    &::after {
      display: none;
    }
  }
}

.page-header__logo {
  display: block;

  padding-top: 13px;
  padding-bottom: 11px;

  outline: none;

  @include tablet-width() {
    padding: 0;
  }
}
