/*  Подвал  */

.page-footer {
  background-color: $bg-color-second;
}

.page-footer__container {
  @include container(320px, 20px, 41px, 22px);
  /* padding-top: 41px;
  padding-bottom: 22px; */

  @include tablet-width() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include container($tablet-width, $tablet-padding, 52px, 55px);
    /* padding-top: 52px;
    padding-bottom: 55px; */
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 55px, 55px);
    /* padding-top: 55px;
    padding-bottom: 55px; */
  }
}

.page-footer__logo {
  width: 100%;
  margin-bottom: 31px;

  outline: none;

  @include tablet-width() {
    width: 162px;
    margin: auto 0;
  }
}

.page-footer__social {
  @include tablet-width() {
    max-width: 37%;
  }
}

.page-footer__copyright {
  width: 100%;
  margin-top: 23px;

  @include tablet-width() {
    width: 162px;
    margin: 3px 0 auto;
  }

  @include desktop-width() {
    margin-top: 5px;
  }

}
