/*  product  */

.product {
  @include tablet-width() {
    //padding-bottom: 40px;
    padding: 0 37px 40px;

    background-image: linear-gradient(to bottom, $bg-color-base 82px, $bg-color-second 82px);

    outline: 1px solid red;
  }
}

.product__wrapper {
  display: flex;
  justify-content: center;

  @include tablet-width() {
    flex-direction: column;
  }
}

.product__info-wrapper {
  @include tablet-width() {
    //padding: 39px 37px 34px;
    padding: 39px 0 35px;
  }
}

.product__title {
  margin-top: 20px;
  margin-bottom: 13px;
  padding-right: 40px;

  @include font-options(inherit, 16px, 20px, $header-color);
  font-weight: normal;
  text-transform: uppercase;

  @include tablet-width() {
    padding: 0 50px;
    margin-top: 0;
    margin-bottom: 19px;

    font-size: 20px;
    text-align: center;
  }
}

.product__photo-wrapper {
  flex-shrink: 0;
  display: flex;

  width: 140px;
  height: 144px;

  overflow: hidden;

  @include tablet-width() {
    position: relative;
    left: 50%;

    width: 324px;
    height: 208px;

    transform: translateX(-50%);

    outline: 2px solid green;
  }
}

.product__photo {
  width: 100%;
  height: auto;
  margin: auto;

  @include tablet-width() {
    //margin-bottom: 0;
  }
}

.product__info {
  width: 100%;
  padding: 0;

  @include font-options($font-text, 12px, 16px, inherit);

  border-collapse: collapse;

  @include tablet-width() {
    font-size: 16px;
  }
}

.product__data {
  margin: 0;
  padding: 0;

  @include tablet-width() {
    padding: 7.5px 0;

    border-bottom: 1px solid $border-color-fourth;
  }
}

.product__info-title {
  text-align: left;
}

.product__info-value {
  text-align: right;
}
