/*  product  */

.product__wrapper {
  display: flex;
}

.product__title {
  margin-top: 20px;
  margin-bottom: 13px;
  padding-right: 40px;

  @include font-options(inherit, 16px, 20px, $header-color);
  font-weight: normal;
  text-transform: uppercase;
}

.product__photo-wrapper {
  flex-shrink: 0;
  display: flex;

  width: 140px;
  height: 144px;

  overflow: hidden;
}

.product__photo {
  width: 100%;
  height: auto;
  margin: auto;
}

.product__info {
  width: 100%;
  padding: 0;

  @include font-options($font-text, 12px, 16px, inherit);

  border-collapse: collapse;
}

.product__data {
  margin: 0;
  padding: 0;
}

.product__info-title {
  text-align: left;
}

.product__info-value {
  text-align: right;
}
