/*  profile-form  */

.profile-form {
  @include font-options($font-base, 16px, 18px, $header-small-color);
  font-weight: 400;
  text-transform: uppercase;

  border-top: 1px solid transparent;

  @include tablet-width() {
    font-size: 20px;
    line-height: 20px;
  }

  //outline: 1px solid red;
}

.profile-form__container {
  @include container($mobile-width, $mobile-padding);
  padding-top: 14px;
  padding-bottom: 31px;

  @include tablet-width() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include container($tablet-width, 70px);
    padding-top: 40px;
    padding-bottom: 72px;
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding);
    padding-top: 66px;
    padding-bottom: 82px;
  }

  //outline: 1px solid green;
}

.profile-form__cat-details {
  width: 100%;
  margin-top: 25px;

  @include desktop-width() {
    width: 570px;
    margin: 0;
  }
}

.profile-form__program-select {
  width: 100%;
  margin-top: 24px;

  @include tablet-width() {
    margin-top: 73px;
  }

  @include desktop-width() {
    width: 570px;
    margin: 0;
  }
}

.profile-form__cat-owner {
  width: 100%;
  margin-top: 30px;

  @include tablet-width() {
    margin-top: 77px;
  }

  @include desktop-width() {
    margin-top: 69px;
  }
}

.profile-form__cat-owner .form-fieldset__list {
  @include desktop-width() {
    display: flex;
    justify-content: space-between;
  }
}

.profile-form__comment {
  width: 100%;
  margin-top: 30px;

  @include tablet-width() {
    margin-top: 65px;
  }

  @include desktop-width() {
    margin-top: 67px;
  }
}

.profile-form__additionally {
  margin-top: 28px;

  @include tablet-width() {
    margin-top: 65px;
  }

  @include desktop-width() {
    width: 100%;
    margin-top: 67px;
  }
}

.profile-form__button {
  width: 100%;
  margin-top: 36px;

  @include tablet-width() {
    @include button-big();

    width: 45%;
    margin-top: 22px;
  }

  @include desktop-width() {
    width: 570px;
    margin-top: 29px;
  }
}

.profile-form__required {
  display: block;

  margin-top: 21px;

  @include font-options($font-text, 14px, 16px, $text-base-color);
  text-transform: none;
  text-align: center;

  @include tablet-width() {
    margin-top: 38px;
    width: 45%;

    font-size: 16px;
    text-align: left;
  }

  @include desktop-width() {
    width: 570px;
    margin-top: 45px;
  }
}

.profile-form__label-required {
  position: relative;
  top: 0;
  left: 0;

  font-size: 18px;

  @include tablet-width() {
    top: -1px;
    left: 1px;

    font-size: 20px;
  }
}
