/*  Подбор программы  */

.program-selection__container {
  @include container($mobile-width, $mobile-padding, 0, 0);

  @include tablet-width() {
    @include container($tablet-width, 70px, 0, 0);
    padding-right: 350px;
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 0, 0);
    padding-right: 935px;
  }
}

.program-selection__description {
  margin: 0;
  margin-top: 25px;

  @include font-options($font-base, 14px, 18px, $header-color);
  font-weight: 400;
  color: $header-color;
  text-transform: uppercase;

  @include tablet-width() {
    margin-top: 55px;

    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection__form {
  margin: 0;

  overflow-x: hidden;
}
