/*  Промо  */

.promo {
  background-color: $bg-color-third;
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient($bg-color-promo 305px, $bg-color-base 305px);
  background-position:
    center top,
    center top;
  background-repeat:
    no-repeat,
    no-repeat;
  background-size:
    320px 305px,
    auto auto;

  @include tablet-width() {
    position: relative;

    margin-bottom: -49px;

    background-color: $bg-color-base;
    background-image: none;
  }

  @include desktop-width() {
    top: -117px;
    margin: 0;
    margin-bottom: -117px;

    background-color: $bg-color-third;
    background-image:
      url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(to left, $bg-color-promo 50%, $bg-color-base 50%);
    background-position:
      //($desktop-width / 2) top,
      calc(50% + 720px / 2) top,
      center top;
    background-repeat:
      no-repeat,
      no-repeat;
    background-size:
      720px 696px,
      auto auto;
  }
}

.promo__container {
  @include container(320px, 20px);
  padding-top: 26px;
  padding-bottom: 21px;

  @include tablet-width() {
    @include container($tablet-width, 117px);
    padding-top: 53px;
  }

  @include desktop-width() {
    @include container($desktop-width, 120px);
    padding-top: 140px;

    height: 696px;
    overflow: hidden;
  }
}

.promo__title {
  width: 280px;
  margin: 0 auto 25px;
  padding: 0 15px;

  @include font-options(inherit, 36px, 36px, $text-second-color);
  font-weight: 400;
  text-align: center;

  @include tablet-width() {
    @include font-options(inherit, 60px, 60px, $header-color);
    width: 490px;
    margin: 0;
    padding: 0;

    text-align: left;
  }

  @include desktop-width() {
    margin-top: 80px;
  }
}

.promo__slogan {
  display: block;

  margin: 25px auto 29px;
  padding: 0 20px;

  @include font-options(inherit, 14px, 14px, $text-second-color);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @include tablet-width() {
    @include font-options(inherit, 20px, 20px, $header-color);
    padding: 0;
    margin: 42px 0 16px;

    text-align: left;
  }

  @include desktop-width() {
    //margin: 42px 0 50px;
  }
}

.promo__image {
  display: block;

  width: 280px;
  height: 271px;

  margin: auto;

  @include tablet-width() {
    //src: url("../img/index-can-tablet@1x.jpg");
    width: 709px;
    height: 609px;
  }

  @include desktop-width() {
    position: relative;
    top: -280px;
    left: 140px;

    //src: url("../img/index-can-tablet@1x.jpg");
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  margin-top: 3px;
  padding: 11px 20px 12px;

  font-size: 14px;
  line-height: 18px;

  @include tablet-width() {
    position: relative;

    top: -578px;
    left: 0;

    width: 245px;
    margin: 0;
    padding: 15px 20px 17px;

    font-size: 20px;
    line-height: 20px;
  }

  @include desktop-width() {
    top: -462px;
  }
}
