/*  Промо  */

.promo {
  background-color: $bg-color-third;
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to top, $bg-color-base 197px, $bg-color-promo 197px);
  background-position:
    center top,
    center top;
  background-repeat:
    no-repeat,
    no-repeat;
  background-size:
    320px 305px,
    auto auto;

  @media (min-resolution: $retina-dppx) {
    background-image:
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to top, $bg-color-base 197px, $bg-color-promo 197px);
  }

  @include tablet-width() {
    background-color: $bg-color-base;
    background-image: none;
  }

  @include desktop-width() {
    margin: 0;
    margin-top: -122px;

    background-color: $bg-color-third;
    background-image:
      url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(to left, $bg-color-promo 50%, $bg-color-base 50%);
    background-position:
      calc(50% + 720px / 2) top,
      center top;
    background-repeat:
      no-repeat,
      no-repeat;
    background-size:
      720px 696px,
      auto auto;

    @include retina-2x() {
      background-image:
        url("../img/index-background-desktop@2x.jpg"),
        linear-gradient(to left, $bg-color-promo 50%, $bg-color-base 50%);
    }
  }
}

.promo__container {
  @include container(320px, 20px, 27px, 21px);

  @include tablet-width() {
    display: flex;
    flex-direction: column;

    @include container($tablet-width, $tablet-padding, 47px, 0);
  }

  @include desktop-width() {
    @include container($desktop-width, 120px, 140px, 30px);

    min-height: 696px;
  }
}

.promo__title {
  width: 280px;
  margin: 0 auto 25px;
  padding: 0 15px;

  @include font-options(inherit, 36px, 36px, $text-second-color);
  font-weight: 400;
  text-align: center;

  @include tablet-width() {
    @include font-options(inherit, 60px, 60px, $header-color);
    width: 530px;
    margin: 0 auto 0 86px;
    padding: 0;

    text-align: left;
  }

  @include desktop-width() {
    margin: 80px auto 0 0;
  }
}

.promo__slogan {
  display: block;

  margin: 25px auto 29px;
  padding: 0 20px;

  @include font-options(inherit, 14px, 14px, $text-second-color);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @include tablet-width() {
    @include font-options(inherit, 20px, 20px, $header-color);
    padding: 0;
    margin: 42px 87px 0;

    text-align: left;
  }

  @include desktop-width() {
    width: 500px;
    margin: 42px auto 0 0;
  }
}

.promo__image {
  display: block;

  width: 280px;
  height: 271px;

  margin: auto;

  @include tablet-width() {
    position: relative;
    z-index: 0;
    order: 4;

    width: 709px;
    height: 609px;
    margin-top: -79px;
  }

  @include desktop-width() {
    left: 115px;

    width: 552px;
    height: 499px;
    margin-top: -365px;
  }
}

.promo__button {
  margin-top: 3px;
  padding: 11px 20px 12px;

  font-size: 14px;
  line-height: 18px;

  @include tablet-width() {
    order: 2;
    position: relative;
    z-index: 5;

    @include button-big();

    width: 245px;
    margin-top: 48px;
    margin-left: 87px;
  }

  @include desktop-width() {
    margin-top: 53px;
    margin-left: 0;
  }
}
