/*  range  */

.range {
  position: relative;

  height: 34px;
}

.range__bar {
  position: relative;
  top: 50%;

  width: 100%;
  height: 6px;

  background-color: $bg-range;
  border-radius: 2px;

  transform: translateY(-50%);
}

.range__toggle {
  position: absolute;
  top: 50%;
  left: $slider-rate;

  width: 34px;
  height: 34px;
  padding: 0;

  background-color: $bg-color-base;
  border: 1px solid $border-color-fourth;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transform: translateX(calc(-50% + 2px)) translateY(-50%);

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: $btn-color-base;

    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:focus {
    @include focus();
    border-radius: 50%;
  }

  &:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid $btn-color-base;
  }
}
