/*  Слайдер с котом  */
$radio-width: 42px;
$radio-height: 14px;
$slider-controls-width: 280px; // ширина контроллеров слайдера при радиопереключателях
$slider-total-height-tablet: 631px; // высота слайдера
$slider-total-height-desktop: 650px;
$slider-width: 320px; // ширина слайдов
$slider-height: 240px; // высота слайдов
$slider-rate: 50%;  //  процент смены кадров слайдера

.slider {
  @include tablet-width() {
    background-image:
      linear-gradient(to bottom, $bg-color-base 170px, rgba($bg-color-base, 0) 170px),
      linear-gradient(to right, $bg-color-second 50%, $bg-slider-after 50%);
  }

  @include desktop-width() {
    display: flex;

    background-color: $bg-color-second;
    background-image: linear-gradient(to bottom, $bg-color-base 190px, rgba($bg-color-base, 0) 190px);
  }
}

.slider__container {
  //@include container(100%, 0, 0, 0);
  width: $mobile-width;
  padding: 0;
  margin: 0 auto;

  @include tablet-width() {
    width: $tablet-width;
    height: $slider-total-height-tablet;
  }

  @include desktop-width() {
    display: flex;
    /*flex-wrap: wrap;
    //position: relative; */

    width: 690px;
    height: 100%; //$slider-total-height-desktop; //auto;
  }

  outline: 2px solid green;
}

.slider__list {
  @include list-style-none();

  @include tablet-width() {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  @include desktop-width() {

    width: 650px; //690px;
    margin-left: auto; //40px;

    overflow: hidden;
  }

  outline: 3px solid red;
}

.slider__item {
  display: none;

  width: 100%;
  height: 100%;

  @include tablet-width() {
    display: block;
    position: relative;

    &--before {
      z-index: 10;

      width: $slider-rate;

      overflow: hidden;
    }

    &--after {
      z-index: 1;

      margin-top: -$slider-total-height-tablet;
    }
  }

  @include desktop-width() {
    //display: flex;
    //height: 100%;
    &--after {
      margin-top: -$slider-total-height-desktop;
    }
  }

  outline: 2px solid aqua;
}

.slider__item-inner {
  @include tablet-width() {
    width: $tablet-width; //100%;
    height: $slider-total-height-tablet;

    &--before {
      //width: $slider-rate;

      background-image: linear-gradient($bg-color-base 170px, $bg-color-second 170px);
    }

    &--after {
      /* width: $slider-rate;
      overflow: hidden;
      position: relative;
      right: -100%;
      transform: translateX(-100%); */

      background-image: linear-gradient($bg-color-base 170px, $bg-slider-after 170px);
    }
  }

  @include desktop-width() {
    width: 690px;
    height: 100%;
    margin-left: -40px;

    &--before {
      background-image: linear-gradient($bg-color-base 190px, $bg-color-second 190px);
    }

    &--after {
      background-image: linear-gradient($bg-color-base 190px, $bg-slider-after 190px);
    }
  }

  outline: 4px solid darkslategrey;
}

.slider__photo-wrapper {
  width: $slider-width;
  height: $slider-height;
  margin: 0 auto;

  @include tablet-width() {
    position: relative;
    $slider-width: 690px;
    $slider-height: 517px;

    width: $slider-width;
    height: $slider-height;

    outline: 6px solid deeppink;
  }

  @include desktop-width() {
    margin: 0;
  }
}

.slider__photo {
  display: block;

  width: auto; //100%;
  height: 100%; //auto;

  object-fit: contain;

  @include tablet-width() {
    margin-left: 7px;
  }

  @include desktop-width() {
    margin-left: 0;
  }
}

//  Контроллеры

.slider__controls {
  display: flex;

  width: $slider-controls-width;
  margin: 32px auto 0;

  @include font-options(inherit, 16px, 20px, $header-color);
  text-transform: uppercase;

  @include tablet-width() {
    position: relative;
    z-index: 20;
    justify-content: center;

    width: auto;
    margin-top: -100px;

    font-size: 20px;

    outline: 2px solid orange;
  }

  @include desktop-width() {
    position: absolute;
    left: auto;
    right: $desktop-padding;
    top: 652px;

    //padding-left: 20px;
  }
}

.slider__label {
  display: block;

  width: 50%;

  @include custom-choice($radio-width);

  &::before {
    left: ($slider-controls-width / 2 - $radio-width);

    width: $radio-width;
    height: $radio-height;

    border-radius: ($radio-height / 2) 0 0 ($radio-height / 2);
    border-right: none;
  }

  @include tablet-width() {
    width: auto;
    height: 25px;
    padding: 0;
    margin: auto 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.slider__label-text {
  border-bottom: 1px dotted rgba($header-small-color, 0.23);

  &:hover {
    border-bottom: 1px solid rgba($header-small-color, 0.4);
  }

  &:active {
    border: none;
    opacity: 1;
  }
}

//  неактивный
.slider__label--before {
  padding-left: 0;
  padding-right: $radio-width + 18px;

  text-align: right;

  @include tablet-width() {
    padding-right: 0;
  }
}

.slider__label--after {
  &::before {
    left: 0;
    transform: rotate(180deg) translateY(50%);
  }
}

//  фокус
.slider__toggle:first-of-type:focus ~ .slider__controls .slider__label--before,
.slider__toggle:nth-of-type(2):focus ~ .slider__controls .slider__label--after {
  @include custom-choice--focus();
}

.slider__toggle:first-of-type:focus ~ .slider__controls .slider__label--before .slider__label-text,
.slider__toggle:nth-of-type(2):focus ~ .slider__controls .slider__label--after .slider__label-text {
  border-bottom: 1px solid rgba($header-small-color, 0.4);

  @include focus($bg-color-third, $bg-color-second);
}

.slider__toggle:nth-of-type(2):focus ~ .slider__controls .slider__label--after .slider__label-text {
  @include tablet-width() {
    @include focus($bg-color-third, $bg-slider-after);
  }
}

//  активный
.slider__toggle:first-of-type:checked ~ .slider__controls .slider__label--before,
.slider__toggle:nth-of-type(2):checked ~ .slider__controls .slider__label--after {
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: ($radio-width / 2);

    width: ($radio-width - $radio-width / 8);
    height: ($radio-height / 2);

    background-color: $bg-color-third;
    border-radius: ($radio-height / 4);

    transform: translate(-50%, -50%);
  }
}

.slider__toggle:first-of-type:checked ~ .slider__controls .slider__label--before::after {
  left: ($slider-controls-width / 2);
  transform: translate(-100%, -50%);
}

.slider__toggle:nth-of-type(2):checked ~ .slider__controls .slider__label--after::after {
  left: 0;
  transform: translate(0, -50%);
}

.slider__toggle:first-of-type:checked ~ .slider__list .slider__item--before,
.slider__toggle:nth-of-type(2):checked ~ .slider__list .slider__item--after {
  display: block;
}

/*  range  */

.slider__range {
  display: none;

  @include tablet-width() {
    display: block;

    width: 428px;
    margin: 0 23px 0 26px;
  }

  @include desktop-width() {
    margin: 0 20px 0 25px;
  }

  outline: 1px solid red;
}
