/*  Слайдер с котом  */
$radio-width: 42px;
$radio-height: 14px;
$slider-controls-width: 280px; // ширина контроллеров слайдера при радиопереключателях
$slider-total-height: 631px; // высота слайдера
$slider-width: 320px; // ширина слайдов
$slider-height: 240px; // высота слайдов
$slider-rate: 50%;  //  процент смены кадров слайдера

.slider__container {
  //@include container(320px, 0);
  @include container(100%, 0);
}

.slider__list {
  @include list-style-none();
}

.slider__item {
  display: none;

  width: 100%;

  @include tablet-width() {
    display: block;
    position: relative;

    &--before {
      z-index: 10;
    }

    &--after {
      z-index: 1;

      margin-top: -$slider-total-height;
    }
  }
}

.slider__item-inner {

  @include tablet-width() {
    height: $slider-total-height;

    &--before {
      width: $slider-rate;

      background-image: linear-gradient($bg-color-base 26.8%, $bg-color-second 26.8%);
      overflow: hidden;
    }

    &--after {
      background-image: linear-gradient($bg-color-base 26.8%, $bg-slider-after 26.8%);
    }
  }
}

.slider__photo-wrapper {
  width: $slider-width;
  height: $slider-height;
  margin: 0 auto;

  @include tablet-width() {
    $slider-width: 690px;
    $slider-height: 517px;
    width: $slider-width;
    height: $slider-height;

    &--before {
      position: relative;
      left: 50vw;
      transform: translateX(-50%);
    }
  }
}

.slider__photo {
  display: block;

  width: auto; //100%;
  height: 100%; //auto;

  object-fit: contain;

  @include tablet-width() {
    transform: translateX(7px);
  }
}

//  Контроллеры

.slider__controls {
  display: flex;

  width: $slider-controls-width;
  margin: 32px auto 0;

  @include font-options(inherit, 16px, 20px, $header-color);
  text-transform: uppercase;

  //overflow: hidden;

  @include tablet-width() {
    position: relative;
    z-index: 20;
    justify-content: center;

    width: auto;
    margin-top: -100px;

    font-size: 20px;

    //overflow: visible;
  }
}

.slider__label {
  display: block;

  width: 50%;

  @include custom-choice($radio-width);

  &::before {
    left: ($slider-controls-width / 2 - $radio-width);

    width: $radio-width;
    height: $radio-height;

    border-radius: ($radio-height / 2) 0 0 ($radio-height / 2);
    border-right: none;
  }

  @include tablet-width() {
    width: auto;
    height: 25px;
    padding: 0;
    margin: auto 0;

    border-bottom: 1px dotted rgba($header-color, 0.23);

    &::before,
    &::after {
      display: none;
    }
  }
}

//  неактивный
.slider__label--before {
  padding-left: 0;
  padding-right: $radio-width + 18px;

  text-align: right;

  @include tablet-width() {
    padding-right: 0;
  }
}

.slider__label--after {
  &::before {
    left: 0;
    transform: rotate(180deg) translateY(50%);
  }
}

//  фокус
.slider__toggle:first-of-type:focus ~ .slider__controls .slider__label--before,
.slider__toggle:nth-of-type(2):focus ~ .slider__controls .slider__label--after {
  @include custom-choice--focus();
}

//  активный
.slider__toggle:first-of-type:checked ~ .slider__controls .slider__label--before,
.slider__toggle:nth-of-type(2):checked ~ .slider__controls .slider__label--after {

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: ($radio-width / 2);

    width: ($radio-width - $radio-width / 8);
    height: ($radio-height / 2);

    background-color: $bg-color-third;
    border-radius: ($radio-height / 4);

    transform: translate(-50%, -50%);
  }
}

.slider__toggle:first-of-type:checked ~ .slider__controls .slider__label--before::after {
  left: ($slider-controls-width / 2);
  transform: translate(-100%, -50%);
}

.slider__toggle:nth-of-type(2):checked ~ .slider__controls .slider__label--after::after {
  left: 0;
  transform: translate(0, -50%);
}

.slider__toggle:first-of-type:checked ~ .slider__list .slider__item--before,
.slider__toggle:nth-of-type(2):checked ~ .slider__list .slider__item--after {
  display: block;
}

/* .slider__toggle:first-of-type:checked {
  @include tablet-width() {
    $slider-rate: 100%;
  }
}

.slider__toggle:nth-of-type(2):checked {
  @include tablet-width() {
    $slider-rate: 0%;
  }
} */


/*  range  */

.slider__range {
  display: none;

  @include tablet-width() {
    display: block;

    width: 428px;
    margin: 0 23px;
  }
}
