/*  widget  */

.widget {
  display: flex;
  flex-direction: column;

  width: 43.93%;
  margin: 0;

  @include tablet-width() {
    width: 44.14%;
  }
}

.widget__value {
  display: block;

  padding: 14px 10px 17px;

  @include font-options(inherit, 24px, 24px, $header-color);
  text-align: center;
  text-transform: uppercase;

  border: 1px solid $border-color-fourth;
  border-radius: 3px;

  @include tablet-width() {
    font-size: 30px;
    line-height: 37.02px;
  }
}

.widget__caption {
  align-self: center;

  display: block;

  padding: 0 16px;
  margin: 0 auto;
  width: 87px;

  @include font-options($font-text, 12px, 12px, inherit);
  text-align: center;

  background-color: $bg-color-second;

  transform: translateY(-50%);

  @include tablet-width() {
    width: auto;
    padding: 0 9px;

    font-size: 14px;
    line-height: 14px;

    background-color: $bg-color-base;
  }

  @include desktop-width() {
    background-color: $bg-color-second;
  }
}
