/*  ОБЩИЕ СТИЛИ  */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  //width: 320px;
  //width: $tablet-width;
  //width: $desktop-width;

  @include font-options($font-base, 14px, 18px, $text-base-color);
  font-weight: normal;

  background-color: $bg-color-base;

  @media (min-width: $tablet-width) {
    @include font-options($font-base, 16px, 24px, $text-base-color);
  }
}

/*  Ссылки  */
a {
  text-decoration: none;
}

/*  Картинки  */
img {
  width: 100%;
  height: auto;
}
