/*  МИКСИНЫ  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin container($container-width: 320px, $container-padding: 20px, $container-padding-top: 0, $container-padding-bottom: 0) {
  min-width: $container-width;
  max-width: 1300px;
  margin: 0 auto;
  padding: $container-padding-top $container-padding $container-padding-bottom;
}

@mixin mobile-width-only() {
  @media (max-width: $mobile-width-only) {
    @content;
  }
}

@mixin tablet-width() {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop-width() {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina-2x() {
  @media (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin list-style-none() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin font-options($family: $font-family-regular, $size: 14px, $line: 18px, $font-color: $text-base-color) {
  font-family: $family;
  font-size: $size;
  line-height: $line;
  color: $font-color;
}

//  sub-title
@mixin sub-title() {
  display: inline-block;
  vertical-align: baseline;
  position: relative;

  margin: 0;
  margin-left: -$mobile-padding;
  padding: 0 $mobile-padding;

  @include font-options(inherit, 24px, 24px, $header-color);
  font-weight: normal;
  text-transform: none;

  background-color: $bg-color-base;

  &::before,
  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 12px; //50%;
    left: 0;

    width: 100vw;
    height: 3px;

    background-color: $bg-color-third;
  }

  &::after {
    left: auto;
    right: 0;
  }

  @include tablet-width() {
    margin-left: -$desktop-padding;
    padding: 0 $desktop-padding; //40px;

    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      top: 22px;
    }
  }
}

//  большая кнопка
@mixin button-big() {
  margin: 0;
  padding: 15px 20px 17px;

  font-size: 20px;
  line-height: 20px;
}

// серые бордеры
@mixin decorative-border($box-width: 100vw, $box-height: 0, $border-width: 1px, $border-color: $border-color-var, $border-side: "bottom") {
  &::after {
    position: absolute;
    content: "";
    left: 50%;

    width: $box-width;
    min-width: 320px;
    height: $box-height;

    border-#{$border-side}: $border-width solid $border-color;
    transform: translateX(-50%);
  }
}

// :focus
@mixin focus($shadow-color: $bg-color-third, $background-color: $bg-color-base) {
  outline: none;
  border-radius: 1px;
  box-shadow:
    0 0 0 7px $background-color,
    0 0 0 8px $shadow-color;
}

// :focus кнопки
@mixin focus-button($shadow-color: $btn-text-color-hover, $background-color: $btn-color-base-hover) {
  outline: none;
  box-shadow:
    inset 0 -7px 0 0 $background-color,
    inset 0 -9px 0 0 $shadow-color;
}

//  :focus картинки
@mixin focus-img($shadow-color: $bg-color-third) {
  position: relative;
  outline: none;
  overflow: visible;

  &::after {
    position: absolute;
    content: "";
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;

    border-radius: 10px;
    border: 1px solid $shadow-color;

    @include tablet-width() {
      top: -2.5%;
      left: -2.5%;

      width: 105%;
      height: 105%;
    }
  }
}

//  ::after для корректной работы IE
@mixin after-for-ie() {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }
}

/*  Кастомные поля выбора   */
/*  РАДИОКНОПКИ И ЧЕКБОКСЫ  */

@mixin custom-choice($choice-size: 40px) {
  position: relative;

  padding-left: $choice-size +  16px;

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;

    width: $choice-size;
    height: $choice-size;

    background-color: $bg-color-base;
    border: 1px solid $border-color-fourth;

    transform: translateY(-50%);
  }

  &--radio::before {
    border-radius: 50%;
  }

  &:hover::before {
    border-color: $border-color-fifth;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet-width() {
    padding-left: $choice-size +  20px;
  }
}

//  hover
@mixin custom-choice--hover() {
  &::before {
    border-color: $border-color-fifth;
  }
}

//  фокус
@mixin custom-choice--focus() {
  outline: none;
  border-radius: 1px;
  box-shadow:
    0 0 0 10px $bg-color-base,
    0 0 0 11px $bg-color-third;

  @include tablet-width() {
    box-shadow:
      0 0 0 15px $bg-color-base,
      0 0 0 16px $bg-color-third;
  }
}

// активный
@mixin custom-choice--checked($choice-size: 40px) {
  &::after {
    position: absolute;
    content: "";
  }

  //  радиокнопки
  &--radio::after {
    top: 50%;
    left: ($choice-size / 2);

    width: ($choice-size / 2.3);
    height: ($choice-size / 2.3);

    background-color: $bg-color-third;
    border-radius: 50%;

    transform: translate(-50%, -50%);
  }

  //  чекбоксы
  &--checkbox::after {
    top: 50%;
    left: 0;

    width: $choice-size;
    height: $choice-size;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 21px 16px;
    background-position: center center;

    transform: translateY(-50%);
  }
}
